/* the body influences everything that doesn't have a class or id*/
body {
  background-color: #f2f2f2;
  width: 100%;
  background-color: #2a2b30;
  /* color: #cecece; */
  color: #cecece;
  height: 100%;
  margin: 0;
  font-family: Arial !important;
  -webkit-font-smoothing: antialiased;
}

html{
  height: 100%;
  margin: 0;
}

h1{
  text-align: center;
}

h2{
  font-size: 4vh !important;
  margin: auto;
  color: green;
  /* background-color: #f2f2f2; */

}

.backgroundImage{
  background-image: url('../resources/deliveryBoy.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}


.mainBody{
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
position: fixed;
z-index: 2;
width: 100%;
height: 100%;
}

/* navigation bar */
.navbar{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 100;
}

.navbar .wrap{
  width: 40%;
}

/* Start of search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchTermNav {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchCity {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: none;
  padding: 5px;
  height: 20px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchFood {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1e21;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover{
  color: #ccc;
}

li a.logo{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
  justify-content: flex-start;
}

li a img{
  height: 100%;
}
/* end navigation bar */


.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ddd;
  background: #ddd;
  text-align: center;
  color: #1c1d20;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.searchButton:hover{
  background-color: #ccc;
}

.wrap label{
  font-size: 18px;
}

.order{
  display: inline-block;
	border: solid black;
	border-width: 1px;
  margin-top: 12%;
	width: 35%;
	height: 500px;
	border-radius: 5px;
  background-color: rgba(255, 251, 251, 0.55); /* Black w/opacity/see-through */
	transition: width .5s ease-out, height .5s ease-out;
	vertical-align: middle;
	position: absolute;
  -webkit-mask-position-x: center;
  -webkit-mask-position-y: center;
  margin-left: 30%;
  margin-right: 50%;
}

.header{
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 15px;
    font-size: x-large;
    color: #172026;
    max-width: 100%;
    line-height: 28px;
    letter-spacing: 0;
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 16px;
}

.orderHeader{
    padding: 16px 16px 20px;
    border-bottom: 1px solid #E1E5E8;
    position: relative;
    flex: 0 0 auto;
    font-weight: 800;
    font-size: x-large;
}

.OrderList{
  overflow-y: auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  box-sizing: inherit;
}

.payTitle{
  padding: 16px 0px 12px;
}

.pay{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 24px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 33%;
    flex-grow: 1;
}

.paymentBG{
  background-image: url('../resources/payment.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.paymentButton{
  letter-spacing: 0;
  border-radius: 20%;
  max-width: 100%;
  height: 53px;
  min-width: 53px;
  min-height: 53px;
  text-align: center;
  width: 53px;
  white-space: nowrap;
  color: inherit;
  border-color: currentColor;
  padding: 6px 8px;
  font-size: 10px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.orderListContainer{
  overflow-y: auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  box-sizing: inherit;
}

.payButtSpan{
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.confirmButton{
    border-radius: 10px;
    padding: 10px 60px;
    border: 3px solid;
    color: #1d0b0b;
    margin: 5% 0;
    transition-duration: 0.2s;
    outline: none;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1em;
    -webkit-appearance: button;
}

.orderReview{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.confirmation{
  padding-left: 50px;
}

.mainPayment{
    box-sizing: inherit;
    z-index: 0;
    flex: 1 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
    display: flex;
    width: 400px;
    flex-direction: column;
    min-height: 0;
    background-color: #29020294;
    height: fit-content;
    padding: 17px;
    position: fixed;
    align-items: baseline;
    margin-top: 10%;
    margin-left: 1%;
}

.paymentDetails{
  position: fixed;
  margin-left: 68.5%;
  box-sizing: inherit;
  font-family: CoreSans, sans-serif !important;
  z-index: 0;
  flex: 1 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
  display: flex;
  width: 400px;
  flex-direction: column;
  min-height: 0;
  background-color: #29020294;
  height: fit-content;
  padding: 17px;
  position: fixed;
  align-items: baseline;
  margin-top: 10%;
}

.payContainer{
  display: inline-block;
  width: 60%;
  position: relative;
  left: 60%;
  transform: translate(-50%, -50%);
}

.selectType{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.pDt{
    color: #172026d6;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    margin: 0;
    display: block;
    margin-bottom: 5px;
}

.deliverySpecs{
    width: -webkit-fill-available;
    height: 40px;
    padding-top: 10px;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.deliveryInstructions{
    height: inherit;
    border-radius: 10px;
    border-width: 0px;
}

.deliveryInfo{
    margin-top: auto;
    width: inherit;
}

.deliveryLocation{
  margin-top: 20px;
}

.top-container-pricing h3, .pricing-container-pricing p{
	text-align: center;
  color: #1d0b0b;
}

.top-container-pricing h3{
	font-size: 200%;
}

.top-container-pricing p {
  color: #1d0b0b;
	margin: 0;
}

.top-container-pricing p:after{
	content: '/month';
	color: #1d0b0b;
	font-size: 12px;
}

.features-list-container-pricing ul {
	list-style-type: none;
	padding: 0;
}

.features-list-container-pricing ul li{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.features-list-container-pricing ul li:nth-of-type(2n+1){
	background-color: rgba(23, 61, 80, 0.06);
}

.containerOrder{
  text-align: -webkit-center;
  margin-top: 16%;

}

.orderBackground{
  background-image: url('../resources/food.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.wrap-order{
  position: relative;
  top: 25%;
  opacity: 0.6;
  margin-top: 5%;
  text-decoration-color: #1d0b0b;
}

.container-button{
  font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	background-color: #1d0b0b;
	border: none;
	padding: 13px 35px;
	text-align: center;
  width: fit-content;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	outline: none;
	border-radius: 7px;
}

.order-checkbox-list{
  margin: 5%;
  font-weight: bold;
  font-family: Verdana;
  font-size: 12px;
  color: #ffffff;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapNav{
  width: 50%;
  top: 50%;
  left: 50%;
}
/* end of search bar*/

.bacgroundScroll{
  height: 100%;
  width: 80%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}


.restaurant{
  display: flex;
  /* justify-content: space-around; */
  padding: 10px;
}

.restaurantContent{
  width: 50%;
  line-height: 1.6;
}

.restaurant button, .foodMenu button{
  margin-top: 10px;
  background-color: rgba(29,30,33, 0.6);
  color: #dddddd;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  text-align: center;
  width: 100px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.restaurant button:hover, .foodMenu button:hover{
  background-color: rgba(29,30,33, 0.9);
}

.restaurantImage{
  width: 50%;
  padding: 10px;
  text-align: center;
}

.restaurantImage img{
  width: 65%;
}

.foodMenu img{
  width: 150px;
  height: 150px;
}

.foodMenu{
text-align: center;
height: 100%;
padding: 10px;
padding-bottom: 100px;
line-height: 1.6;
}

.foodLeft{
  width: 50%;
float: left;
padding-top: 20px;
padding-bottom: 20px;

}
.foodRight{
  width: 50%;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checked{
  color: orange;
}
