/* the body influences everything that doesn't have a class or id*/
body {
  background-color: #2a2b30;
  color: #cecece;
  height: 100%;
  margin: 0;
  font-family: Arial !important;
  -webkit-font-smoothing: antialiased;
}

html{
  height: 100%;
  margin: 0;
}

h2{
  font-size: 4vh !important;
  margin: auto;
  color: green;
}

.backgroundImage{
  background-image: url('../resources/deliveryBoy.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody{
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
position: absolute;
top: 100%;
left: 100%;
transform: translate(-100%, -100%);
z-index: 2;
width: 100%;
height: 100%;
}

/* navigation bar */
.navbar{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .wrap{
  width: 40%;
}

/* Start of search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchTermNav {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchCity {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: none;
  padding: 5px;
  height: 20px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchFood {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1e21;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover{
  color: #ccc;
}

li a.logo{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
  justify-content: flex-start;
}

li a img{
  height: 100%;
}
/* end navigation bar */


.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ddd;
  background: #ddd;
  text-align: center;
  color: #1c1d20;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.searchButton:hover{
  background-color: #ccc;
}

.wrap label{
  font-size: 18px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapNav{
  width: 50%;
  top: 50%;
  left: 50%;
}
/* end of search bar*/

.bacgroundScroll{
  height: 100%;
  width: 80%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin-left: auto;
  margin-right: auto;
  background-attachment: scroll;
}

.restaurant{
  display: flex;
  /* justify-content: space-around; */
  padding: 10px;
}

#firstRestaurant{
  padding-top: 10%;
}

.restaurantContent{
  width: 50%;
  line-height: 1.6;
}

.restaurant button{
  margin-top: 10px;
  background-color: rgba(29,30,33, 0.5);
  color: #dddddd;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  text-align: center;
  width: 100px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.restaurant button:hover{
  background-color: rgba(29,30,33, 0.8);
}

.restaurantImage{
  width: 50%;
  padding: 10px;
  text-align: center;
}

.restaurantImage img{
  width: 65%;
}

.checked{
  color: orange;
}
