/* the body influences everything that doesn't have a class or id*/
body {
  /*background-color: #f2f2f2;*/
  background-color: #1d1e21;
  color: #cecece;
  margin: 0;
  font-family: Arial !important;
}
