/* the body influences everything that doesn't have a class or id*/
body {
  background-color: #f2f2f2;
  width: 100%;
  background-color: #2a2b30;
  /* color: #cecece; */
  color: #cecece;
  height: 100%;
  margin: 0;
  font-family: Arial !important;
  -webkit-font-smoothing: antialiased;
}
html{
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}
h2{
  font-size: 4vh !important;
  margin: auto;
  color: green;
  /* background-color: #f2f2f2; */
}
h3{
  margin-block-start: 0;
  margin-block-end: 0;
}

.backgroundImage{
  background-image: url('../resources/deliveryBoy.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
.mainBody{
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
position: fixed;
z-index: 2;
width: 100%;
height: 100%;
}

.order{
  margin-top: 12%;
	width: 35%;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 15px;
	border-radius: 5px;
  background-color: rgba(255, 251, 251, 0.9);
	transition: width .5s ease-out, height .5s ease-out;
	position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mainPayment{
    box-sizing: inherit;
    z-index: 0;
    flex: 1 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
    display: flex;
    width: 400px;
    flex-direction: column;
    min-height: 0;
    background-color: #ffffff8a;
    height: fit-content;
    padding: 17px;
    position: fixed;
    align-items: baseline;
    margin-top: 10%;
    margin-left: 1%;
}

/* navigation bar */
.navbar{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.navbar .wrap{
  width: 40%;
}

/* Start of search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchTermNav {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  border-left: none;
  padding: 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchCity {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: none;
  padding: 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

.searchFood {
  width: 50%;
  border: 3px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1e21;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

li a:hover{
  color: #ccc;
}

li a.logo{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
  justify-content: flex-start;
}

li a img{
  height: 100%;
}
/* end navigation bar */


.searchButton {
  width: 40px;
  height: 37px;
  border: 1px solid #ddd;
  background: #ddd;
  text-align: center;
  color: #1c1d20;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.searchButton:hover{
  background-color: #ccc;
}

.wrap label{
  font-size: 18px;
}



.details {
  color: #8D9499;
    font-size: 14px;
    font-family: CoreSans, sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01071em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: -webkit-fill-available;
}

.header{
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 15px;
    font-size: x-large;
    color: #172026;
    max-width: 100%;
    line-height: 28px;
    letter-spacing: 0;
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 16px;
}

.orderHeader{
    padding: 16px 16px 20px;
    border-bottom: 1px solid #1c1d20;
    position: relative;
    flex: 0 0 auto;
    font-weight: 800;
    font-size: x-large;
    color: #1c1d20;
}

.OrderList{
  overflow-y: auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  box-sizing: inherit;
}

.orderItem{
  width: 100%;
  color: #1b1c1f;
}

#orderMenuContainer{
  display: flex;
}

#orderMenuContainer .fas{
  cursor: pointer;
  color: #1b1c1f;
}
#orderMenuContainer .fas:hover{
  color: red;
}

#orderRemove{
  padding: 10;
  display: grid;
  text-align: center;
  width: 10%;
}
#orderMenu{
  padding: 10;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  text-align: left;
  width: 60%;
}
#orderPrice{
  padding: 10;
  padding-left: 0;
  display: grid;
  text-align: right;
  width: 30%;
}

#basketNum{
  font-size: 20px;
  color: #ffffff;
  transform: translate(-12px, -10px);
  vertical-align: top;
  position: absolute;
  background: #003ffbad;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.payTitle{
  padding: 16px 0px 12px;
}

.pay{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 24px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 33%;
    flex-grow: 1;
}

.paymentBG{
  background-image: url('../resources/payment.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.paymentButton{
  letter-spacing: 0;
  border-radius: 20%;
  max-width: 100%;
  min-width: 80px;
  min-height: 36px;
  text-align: center;
  color: inherit;
  border-color: currentColor;
  padding: 6px 8px;
  font-size: 10px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  width= -webkit-fill-available;
}

.orderListContainer{
  overflow-y: auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  box-sizing: inherit;
}

.payButtSpan{
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.h3{
  color: #8D9499;
    font-size: 14px;
    font-family: CoreSans, sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01071em;
}

.confirmButton{
    border-radius: 10px;
    padding: 10px 60px;
    font-family: montserrat;
    -webkit-appearance: button;
    height: 50px;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-size: x-large;
    font-weight: 600;
    color: #524a46;
    cursor: pointer;
}

.checkoutButton{
  width: auto;
  border-radius: 10px;
  padding: 10px 60px;
  font-family: montserrat;
  -webkit-appearance: button;
  height: 50px;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  margin-top: 5%;
  color: #524a46;
  cursor: pointer;
}

.linkk{
  text-decoration: none;
}

/* .orderReview{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
} */

.confirmation{
  width: -webkit-fill-available;
}


.mainPayment{
  box-sizing: inherit;
  z-index: 0;
  flex: 1 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
  display: flex;
  width: 50%;
  flex-direction: column;
  min-height: 0;
  background-color: #ffffff8a;
  height: fit-content;
  padding: 17px;
  position: relative;
  align-items: baseline;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  min-height: fit-content;
}

.Card-Validation-Form{
  box-sizing: inherit;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  min-height: 0;
  background-color: #ffffff8a;
  height: fit-content;
  padding: 17px;
  position: relative;
  align-items: baseline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
}


.paymentDetails{
  position: fixed;
  margin-left: 68.5%;
  box-sizing: inherit;
  font-family: CoreSans, sans-serif !important;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.12);
  display: flex;
  width: 400px;
  flex-direction: column;
  min-height: 0;
  background-color: #29020294;
  height: fit-content;
  padding: 17px;
  position: fixed;
  align-items: baseline;
  margin-top: 10%;
}

.payContainer{
  /* display: inline-block;
  width: 60%;
  position: relative;
  left: 60%;
  transform: translate(-50%, -50%); */
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  display: flex;
  height: auto;
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.selectType{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.pDt{
    color: #172026d6;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    margin: 0;
    display: block;
    margin-bottom: 5px;
}

.deliverySpecs{
    width: -webkit-fill-available;
    height: 40px;
    padding-top: 10px;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.deliveryInstructions{
    height: inherit;
    border-radius: 10px;
    border-width: 0px;
    width: 100%;
    outline: none;
}

.deliveryInfo{
    margin-top: auto;
    width: inherit;
}

.deliveryLocation{
  margin-top: 20px;
}

.top-container-pricing h3, .pricing-container-pricing p{
	text-align: center;
  color: #1d0b0b;
  padding-bottom: 15px;
}

.top-container-pricing h3{
	font-size: 200%;
}

.top-container-pricing p {
  color: #1d0b0b;
	margin: 0;
}

.top-container-pricing p:after{
	color: #1d0b0b;
	font-size: 12px;
}

.features-list-container-pricing ul {
	list-style-type: none;
	padding: 0;
}

.features-list-container-pricing ul li{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.features-list-container-pricing ul li:nth-of-type(2n+1){
	background-color: rgba(23, 61, 80, 0.06);
}

.containerOrder{
  text-align: -webkit-center;

}

.item{
    padding-top: 18px;
    cursor: default;
    color: #1d0b0b;
}

.itemSpecs{
  box-sizing: inherit;
  font-family: CoreSans, sans-serif !important;
}

.orderBackground{
  background-image: url('../resources/food.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.wrap-order{
  position: relative;
  top: 25%;
  opacity: 0.6;
  margin-top: 5%;
  text-decoration-color: #1d0b0b;
}

.container-button{
  font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	background-color: #1d0b0b;
	border: none;
	padding: 13px 35px;
	text-align: center;
  width: fit-content;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	outline: none;
	border-radius: 7px;
}

.order-checkbox-list{
  margin: 5%;
  font-weight: bold;
  font-family: Verdana;
  font-size: 12px;
  color: #ffffff;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapNav{
  width: 50%;
  top: 50%;
  left: 50%;
}
/* end of search bar*/

.bacgroundScroll{
  height: 100%;
  width: 80%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}


.restaurant{
  display: flex;
  padding: 10px;
}

.restaurantContent{
  width: 50%;
  line-height: 1.6;
}

.restaurant button, .foodMenu button{
  margin-top: 10px;
  background-color: rgba(29,30,33, 0.6);
  color: #dddddd;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  text-align: center;
  width: 100px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.restaurant button:hover, .foodMenu button:hover{
  background-color: rgba(29,30,33, 0.9);
}

.restaurantImage{
  width: 50%;
  padding: 10px;
  text-align: center;
}

.restaurantImage img{
  width: 65%;
}

.foodMenu img{
  width: 150px;
  height: 150px;
}

.foodMenu{
text-align: center;
height: fit-content;
padding: 10px;
padding-bottom: 100px;
line-height: 1.6;
}

.foodLeft{
  width: 50%;
float: left;
padding-top: 20px;
padding-bottom: 20px;

}
.foodRight{
  width: 50%;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checked{
  color: orange;
}


/*
  Payment page css
 */
 .creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.payment{
  margin-left: auto;
  margin-right: auto;
}
.form-group {
    margin-bottom: 15px;
    color: #4c4e56;
}
.form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;

}

.paymentButton .payConfirmation{
    width: -webkit-fill-available;
    margin-top: auto;
}

.paymentButton .payConfirmation{
    margin-left: auto;
    margin-right: auto;
}
 .payConfirm{
    display: contents;
    padding: initial;
    margin-top: 10px;
    background-color: rgba(29,30,33, 0.6);
    color: #dddddd;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    text-align: center;
    width: 100px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cardPic{
  visibility: hidden;
  margin-bottom: auto;
}

.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
