/* the body influences everything that doesn't have a class or id*/
body {
  background-color: #2a2b30;
  color: #cecece;
  height: 100%;
  margin: 0;
  font-family: Arial !important;
  -webkit-font-smoothing: antialiased;
}

html{
  height: 100%;
  margin: 0;
}

.backgroundImage{
  background-image: url('../resources/deliveryBoy.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody{
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
position: absolute;
top: 100%;
left: 100%;
transform: translate(-100%, -100%);
z-index: 2;
width: 100%;
height: 100%;
}

.navbar{
  padding: 18px 0;
}

.navbar .wrap{
  width: 40%;
}

/* Start of search bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ddd;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  outline: none;
  color: #1c1d20;
}

 /* .searchTerm:focus{
  color: #00B4CC;
} */

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ddd;
  background: #ddd;
  text-align: center;
  color: #1c1d20;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}
.searchButton:hover{
  background-color: #ccc;
}

.wrap label{
  font-size: 18px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end of search bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1e21;
  position: fixed;
  top: 0;
  width: 100%;
}
.leftIcon{
  float: left;
}

.rightIcon{
  float: right;
}

li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-size: 18px;
  text-decoration: none;
}

li a:hover{
  color: #ccc;
}
